html,
body {
    height: 100%;
    background-color: darkmagenta;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

div {
    font-family: sans-serif;
    font-size: 1.1em;
    background-color: seagreen;
    /* display: flex;
    flex-direction: column; */
    color: black;
    padding: 2vmin;
    width: 60%;
    height: fit-content;
    border: 2px solid white;
}

table {
    width: 100%;
    text-align: center;
    border: 2px solid whitesmoke;
    border-collapse: collapse;
}

table tr th {
    background-color: black;
    color: rgb(189, 202, 9);
}

table tr:nth-child(even) {
    background-color: rgb(116, 196, 13);
}

table tr:nth-child(odd) {
    background-color: rgb(6, 155, 110);
}